{{#if post}}

<section data-id={{post._id}} class="post">
  <div class="post-header">
    <h4>This is your latest post</h4>
    <h4>{{post.owner.nickname }}</h4>
  </div>
  <div class="post-body">
    <p>{{limit post.createdAt 10}}</p>
    <h6>{{post.text}}</h6>
  </div>
  <div>
  </div>
</section>

{{else }}
  <div>You've never posted!</div>

{{/if}}
