{{#each posts as |post|}}

  <section data-id={{post._id}} class="post">
    <div class="post-header">
      <h4>{{post.owner}}</h4>
    </div>
    <div class="post-body">
      <p>{{post.createdAt}}</p>
      <h6>{{post.text}}</h6>
    </div>
    <!-- <form class='hidden'>
      <input class='new-text' placeholder='{{post.text}}'>
    </form> -->
    <div>
      <button class='update-post'>Edit</button><button class='delete-post'>Delete</button>
    </div>
  </section>

{{/each}}
